* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.webshop {
  margin-right: 1200px;
}

.productContainer {
  position: relative;
  height: 250px;
  width: 470px;
  background-color: lightgray;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 15px;
}

.title {
  border-bottom: 2px solid grey;
  text-align: center;
}

.buttons {
  position: absolute;
  bottom: 10px;
  border-top: 2px solid grey;
  display: flex;
  justify-content: center;
  width: 100%;
}

.descrip {
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.addToCart {
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
.description {
  text-align: center;
}
.price {
  display: flex;
  justify-content: center;
}
.currency {
  margin-left: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.discountSign {
  display: flex;
  justify-content: end;
  margin-right: 5px;
}

.opinionContainer {
  display: flex;
  justify-content: center;
}

.recommended {
  position: absolute;
  right: -5%;
  top: -7%;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  color: white;
  background-color: black;
}

.recText {
  padding-top: 10px;
}

.productContent {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
